<nav class="navbar navbar-expand-lg site-nav" aria-label="Primary navigation">
  <div class="container-xl">
    <a class="navbar-brand brand-mark" href="{{ '/' | relative_url }}" aria-label="NexusHub home">
      <span class="brand-logo" aria-hidden="true">
        <img src="{{ '/assets/img/N_hexagonal.svg' | relative_url }}" alt="">
      </span>
      <span>NexusHub</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#siteMenu" aria-controls="siteMenu" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="siteMenu">
      <ul class="navbar-nav mx-auto site-menu-links" aria-hidden="true">
        <li class="nav-item"><a class="nav-link" href="{{ '/#features' | relative_url }}">Features</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/#screenshots' | relative_url }}">Screenshots</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/docs/' | relative_url }}">Docs</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/#roadmap' | relative_url }}">Roadmap</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/#contribute' | relative_url }}">Contribute</a></li>
      </ul>
      <div class="nav-actions">
        <a class="icon-link" href="https://github.com/tomeksdev/NexusHub" aria-label="View NexusHub on GitHub">
          <i class="fa-brands fa-github"></i>
        </a>
        <a class="btn btn-primary" href="https://github.com/tomeksdev/NexusHub">
          <i class="fa-brands fa-github"></i>
          <span>View on GitHub</span>
        </a>
      </div>
    </div>
  </div>
</nav>
